### 데이터 읽기

In [1]:
import geopandas as gpd

dem_point = gpd.read_file('D:/2022 공간빅데이터 경진대회/한반도/11_dem_point(5186).shp')

In [2]:
dem_point

             value                       geometry
0        24.461435  POINT (178891.000 567188.000)
1        26.501469  POINT (178981.000 567188.000)
2        29.176704  POINT (179071.000 567188.000)
3        31.235012  POINT (179161.000 567188.000)
4        31.726225  POINT (179251.000 567188.000)
...            ...                            ...
144475  153.863022  POINT (216241.000 536318.000)
144476  170.478928  POINT (216331.000 536318.000)
144477  186.427841  POINT (216421.000 536318.000)
144478  195.272491  POINT (216511.000 536318.000)
144479  214.331970  POINT (216601.000 536318.000)

[144480 rows x 2 columns]

#### 좌표계 변환 (EPSG:5186 → EPSG:5174)

In [3]:
dem_point.crs

<Projected CRS: PROJCS["Korea_2000_Korea_Central_Belt_2010",GEOGCS ...>
Name: Korea 2000 / Central Belt 2010
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Transverse Mercator
Datum: Geocentric datum of Korea
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [4]:
dem_point = dem_point.to_crs(5179)

#### index에서 id 컬럼 생성

In [5]:
dem_point = dem_point.reset_index().rename(columns={'index':'id'})

### DB 연결

In [6]:
import psycopg2
from sqlalchemy import create_engine

conn = psycopg2.connect(
  'host=localhost port=5432 dbname=postgres user=postgres password=postgres',
  options='-c search_path=sbd'
)
conn.set_session(autocommit=True)
cur = conn.cursor()
gconn = create_engine(
  'postgresql://postgres:postgres@localhost:5432/postgres'
)

### 테이블 생성

In [7]:
cur.execute(
  f'''
  select count(*)
  from information_schema.tables
  where
    table_schema = 'sbd' and
    table_name ~ 'dem_point'
  '''
)
if not cur.fetchone()[0]:
  cur.execute(
    open('./sql/sbd-create_table_dem_point.sql').read()
  )

### 데이터 업로드

In [8]:
cur.execute(
  'delete from dem_point'
)

In [9]:
dem_point.to_postgis(
  'dem_point',
  gconn,
  schema='sbd',
  if_exists='append'
)

### 경사도(slope) 데이터

#### 테이블 생성

In [11]:
cur.execute(
  f'''
  select count(*)
  from information_schema.tables
  where
    table_schema = 'sbd' and
    table_name ~ 'slope_point'
  '''
)
if not cur.fetchone()[0]:
  cur.execute(
    open('./sql/sbd-create_table_slope_point.sql').read()
  )

#### 데이터 읽기

In [12]:
slope_point = gpd.read_file('D:/2022 공간빅데이터 경진대회/한반도/11_slope_point(5186).shp')

In [13]:
slope_point = slope_point.to_crs(5179)

In [14]:
slope_point = slope_point.reset_index().rename(columns={'index':'id'})

#### 데이터 업로드

In [15]:
cur.execute(
  'delete from slope_point'
)

In [16]:
slope_point.to_postgis(
  'slope_point',
  gconn,
  schema='sbd',
  if_exists='append'
)

### 경사 방향(aspect) 데이터

#### 테이블 생성

In [17]:
cur.execute(
  f'''
  select count(*)
  from information_schema.tables
  where
    table_schema = 'sbd' and
    table_name ~ 'aspect_point'
  '''
)
if not cur.fetchone()[0]:
  cur.execute(
    open('./sql/sbd-create_table_aspect_point.sql').read()
  )

#### 데이터 읽기

In [18]:
aspect_point = gpd.read_file('D:/2022 공간빅데이터 경진대회/한반도/11_aspect_point(5186).shp')

In [19]:
aspect_point = aspect_point.to_crs(5179)

In [20]:
aspect_point = aspect_point.reset_index().rename(columns={'index':'id'})

#### 데이터 업로드

In [21]:
cur.execute(
  'delete from aspect_point'
)

In [22]:
aspect_point.to_postgis(
  'aspect_point',
  gconn,
  schema='sbd',
  if_exists='append'
)